body {
    background-color: #cae3f1;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 2px,
}
.header-container {
    height: auto;
    min-height: 200px;
}
.container {
    height: auto;
    min-height: 300px;
}
.footer-container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container, .footer-container, .header-container {
    border: 1px solid black;
}